<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="SemanticDBEntities" connectionString="metadata=res://*/SemanticDB.csdl|res://*/SemanticDB.ssdl|res://*/SemanticDB.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source=D:\AS\_Dictionary\Project\!2013\05.26\HyperChain\DatabaseHelper\SemanticDB.sdf&quot;"
            providerName="System.Data.EntityClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Ilib5" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IHyperChainService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IHyperChainService1" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
              
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IExplDic" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Message">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" negotiateServiceCredential="true"
                            algorithmSuite="Default" />
                    </security>
                </binding>
              <binding name="WSHttpBinding_ICommonDic" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                    maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                <reliableSession ordered="true" inactivityTimeout="00:10:00"
                    enabled="false" />
                <security mode="Message">
                  <transport clientCredentialType="Windows" proxyCredentialType="None"
                      realm="" />
                  <message clientCredentialType="UserName" negotiateServiceCredential="true"
                      algorithmSuite="Default" />
                </security>
              </binding>
            </wsHttpBinding>
        </bindings>
        <client>
          
            <endpoint address="http://lcorp.ulif.org.ua/IExplPerCall/Service.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IExplDic"
                contract="ExplDictService.IExplDic" name="ExplHttpEndpoint">
              
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAf3L8j36wZ3SRfr7sx8JdNq18ULEgAAAAAQAAAAkCAAAwggIFMIIBbqADAgECAhDOcIiyM0YGqU+MYi7d/XoGMA0GCSqGSIb3DQEBBAUAMBkxFzAVBgNVBAMTDlNlcnZlclRlc3RDZXJ0MB4XDTA5MTAyNzEzNDUzMFoXDTM5MTIzMTIzNTk1OVowGTEXMBUGA1UEAxMOU2VydmVyVGVzdENlcnQwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMV6cOvOt5ebvLshCVLdV9D0nSPtKMrp9nw+DV4ER1RprFxffMYnJ8DmjeBohFyRqgqbofQUoK7IRHRnGHTF3sf9V7k1G+poGUxKBPCZtaWPrs925COC4b29DjaHU3NZoMXg+pc4ZLqxUiIshX5FRjIjwAWySTwGLvXjeqvCUDoVAgMBAAGjTjBMMEoGA1UdAQRDMEGAEMoVsePPVQjDmN1OBIGCbVmhGzAZMRcwFQYDVQQDEw5TZXJ2ZXJUZXN0Q2VydIIQznCIsjNGBqlPjGIu3f16BjANBgkqhkiG9w0BAQQFAAOBgQAc9djC092rKFTSUhNoVlokvAwF8zeZ7UVidoqPZdOeY1sZbLmbXo2ZljAftQc8uEdWw0IIu0yX0fox+oqhmXvqKLoZWOY1dREOhIRne1wpIjQYCCo7n50LyHgWonuZhBUd78aKX4XgmcquH6Yj7hpxWpj96UiQhWgIVpNKCEk84g==" />
                  
                </identity>
            </endpoint>
            <endpoint address="http://lcorp.ulif.org.ua/Ilib7/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Ilib5"
                contract="WordFormsService.Ilib5" name="lib5httpEndpoint" />
            <endpoint address="http://localhost:5172/HyperChainService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHyperChainService"
                contract="HyperChainService.IHyperChainService" name="BasicHttpBinding_IHyperChainService" />
            <endpoint address="http://localhost:8080/IHyperChainService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHyperChainService1"
                contract="HyperChainSelfHostedService.IHyperChainService"
                name="BasicHttpBinding_IHyperChainService1" />
          <endpoint address="http://lcorp.ulif.org.ua/ICommonPerCall/Service.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommonDic"
                contract="CommonDictService.ICommonDic" name="WSHttpBinding_ICommonDic">
            <identity>
              <certificate encodedValue="AwAAAAEAAAAUAAAAf3L8j36wZ3SRfr7sx8JdNq18ULEgAAAAAQAAAAkCAAAwggIFMIIBbqADAgECAhDOcIiyM0YGqU+MYi7d/XoGMA0GCSqGSIb3DQEBBAUAMBkxFzAVBgNVBAMTDlNlcnZlclRlc3RDZXJ0MB4XDTA5MTAyNzEzNDUzMFoXDTM5MTIzMTIzNTk1OVowGTEXMBUGA1UEAxMOU2VydmVyVGVzdENlcnQwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMV6cOvOt5ebvLshCVLdV9D0nSPtKMrp9nw+DV4ER1RprFxffMYnJ8DmjeBohFyRqgqbofQUoK7IRHRnGHTF3sf9V7k1G+poGUxKBPCZtaWPrs925COC4b29DjaHU3NZoMXg+pc4ZLqxUiIshX5FRjIjwAWySTwGLvXjeqvCUDoVAgMBAAGjTjBMMEoGA1UdAQRDMEGAEMoVsePPVQjDmN1OBIGCbVmhGzAZMRcwFQYDVQQDEw5TZXJ2ZXJUZXN0Q2VydIIQznCIsjNGBqlPjGIu3f16BjANBgkqhkiG9w0BAQQFAAOBgQAc9djC092rKFTSUhNoVlokvAwF8zeZ7UVidoqPZdOeY1sZbLmbXo2ZljAftQc8uEdWw0IIu0yX0fox+oqhmXvqKLoZWOY1dREOhIRne1wpIjQYCCo7n50LyHgWonuZhBUd78aKX4XgmcquH6Yj7hpxWpj96UiQhWgIVpNKCEk84g==" />
            </identity>
          </endpoint>
        </client>
    </system.serviceModel>
</configuration>