<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Ilib5" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IExplDic">
                    <security>
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICommonDic">
                    <security>
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://lcorp.ulif.org.ua/ICommonPerCall/Service.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommonDic"
                contract="CommonDictService.ICommonDic" name="WSHttpBinding_ICommonDic">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAf3L8j36wZ3SRfr7sx8JdNq18ULEgAAAAAQAAAAkCAAAwggIFMIIBbqADAgECAhDOcIiyM0YGqU+MYi7d/XoGMA0GCSqGSIb3DQEBBAUAMBkxFzAVBgNVBAMTDlNlcnZlclRlc3RDZXJ0MB4XDTA5MTAyNzEzNDUzMFoXDTM5MTIzMTIzNTk1OVowGTEXMBUGA1UEAxMOU2VydmVyVGVzdENlcnQwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMV6cOvOt5ebvLshCVLdV9D0nSPtKMrp9nw+DV4ER1RprFxffMYnJ8DmjeBohFyRqgqbofQUoK7IRHRnGHTF3sf9V7k1G+poGUxKBPCZtaWPrs925COC4b29DjaHU3NZoMXg+pc4ZLqxUiIshX5FRjIjwAWySTwGLvXjeqvCUDoVAgMBAAGjTjBMMEoGA1UdAQRDMEGAEMoVsePPVQjDmN1OBIGCbVmhGzAZMRcwFQYDVQQDEw5TZXJ2ZXJUZXN0Q2VydIIQznCIsjNGBqlPjGIu3f16BjANBgkqhkiG9w0BAQQFAAOBgQAc9djC092rKFTSUhNoVlokvAwF8zeZ7UVidoqPZdOeY1sZbLmbXo2ZljAftQc8uEdWw0IIu0yX0fox+oqhmXvqKLoZWOY1dREOhIRne1wpIjQYCCo7n50LyHgWonuZhBUd78aKX4XgmcquH6Yj7hpxWpj96UiQhWgIVpNKCEk84g==" />
                </identity>
            </endpoint>
            <endpoint address="http://lcorp.ulif.org.ua/IExplPerCall/Service.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IExplDic"
                contract="ExplDictService.IExplDic" name="ExplHttpEndpoint">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAf3L8j36wZ3SRfr7sx8JdNq18ULEgAAAAAQAAAAkCAAAwggIFMIIBbqADAgECAhDOcIiyM0YGqU+MYi7d/XoGMA0GCSqGSIb3DQEBBAUAMBkxFzAVBgNVBAMTDlNlcnZlclRlc3RDZXJ0MB4XDTA5MTAyNzEzNDUzMFoXDTM5MTIzMTIzNTk1OVowGTEXMBUGA1UEAxMOU2VydmVyVGVzdENlcnQwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMV6cOvOt5ebvLshCVLdV9D0nSPtKMrp9nw+DV4ER1RprFxffMYnJ8DmjeBohFyRqgqbofQUoK7IRHRnGHTF3sf9V7k1G+poGUxKBPCZtaWPrs925COC4b29DjaHU3NZoMXg+pc4ZLqxUiIshX5FRjIjwAWySTwGLvXjeqvCUDoVAgMBAAGjTjBMMEoGA1UdAQRDMEGAEMoVsePPVQjDmN1OBIGCbVmhGzAZMRcwFQYDVQQDEw5TZXJ2ZXJUZXN0Q2VydIIQznCIsjNGBqlPjGIu3f16BjANBgkqhkiG9w0BAQQFAAOBgQAc9djC092rKFTSUhNoVlokvAwF8zeZ7UVidoqPZdOeY1sZbLmbXo2ZljAftQc8uEdWw0IIu0yX0fox+oqhmXvqKLoZWOY1dREOhIRne1wpIjQYCCo7n50LyHgWonuZhBUd78aKX4XgmcquH6Yj7hpxWpj96UiQhWgIVpNKCEk84g==" />
                </identity>
            </endpoint>
            <endpoint address="http://lcorp.ulif.org.ua/Ilib7/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Ilib5"
                contract="WordFormsService.Ilib5" name="lib5httpEndpoint" />
        </client>
    </system.serviceModel>
</configuration>